<h1>Test App</h1>


<form (ngSubmit)="onSubmit()" [formGroup]="form" novalidate>
    <div class="form-group row">
        <label for="username" class="col-md-3 col-form-label">Input</label>
        <div class="col-lg-6 col-md-9">
            <input type="email" class="form-control" formControlName="username" autofocus="autofocus">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-6 col-md-9 offset-md-3">
            <button type="submit" class="btn btn-primary pull-right" [disabled]="form.invalid">Submit</button>
        </div>
    </div>
</form>

<p>

    {{result}}
</p>